extends layout-admin

block _content
   
    .row
        .col-lg-12
            h1.page-header Últimos posts
            input(id="lang", type="hidden", value="#{lang}")
    .row
        .col-lg-12
            each post in posts
                .panel.panel-default
                    .panel-body
                        .media
                            .media-body
                                h4.media-heading
                                    a(href="/post/#{post._id}", target="_blank") #{post.titulo}
                                    span.pull-right.text-muted.small.fecha #{post.fecha}
                                p
                                    != post.html
                            .media-footer
                                .btn-group(role="group", aria-label="...")
                                    a.btn.btn-sm.btn-primary(href="/private/post/#{post._id}") 
                                        i.fa.fa-pencil-square-o Modificar
                                
        
block _script
    script(type="text/javascript", src="/momentjs/min/moment.min.js")
    if lang == 'es-es'
        script(type="text/javascript", src="/momentjs/locale/es.js")
    script(type="text/javascript").
        $(document).ready(function(){
            var lang = $('#lang').val().split('-')[0];
            moment.locale(lang);
            $('.fecha').each(function(index, value){
                var f = moment(value.innerText);
                value.innerText = f.format('LL');
                
            });
        });